*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
//cores

$background: #192a56;

$border-button-one:#F5F5F5;
$border-button-two:#05595B;
$border-button-three:#E2D784;

$button:#dcdde1;
$color-font-button:#2f3640;

$color-font-text:#FDF6EC;

$border-radius-button: 10px;




